html {font-size: 100%} 
/* just to make sure whatever the font
the user is using it is set to what we want*/

body {
    background-color: #e6e6e9;
    font-size: 62.5%; /* takes the base level 16 px font 10 px */
    max-width: 1700px;
    margin: 0 auto; 
}

/* Typographical Styles */

h1 {
    font-size: 4rem; 
    /* we want this to be 40px but in rem, so divide by 10 */
    text-align: center;
}

h2 {
    font-size: 3rem; /* 30px */
}

h3 {
    font-size: 2.5rem; /* 25px */
}

p {
    font-size: 2.2rem; /* 22px */
    margin-bottom: 2.2rem; 
    /* making it the same size as the font */
} 

header,
footer {
    background-color: #fff;
    color: #c14745;
    box-shadow: 2px 2px 3px #cbcbd1;
    margin-bottom: 1.5rem;
}

.inner-container,
footer {
    padding: 2.2rem;
}

.card,
.card-first {
    border: 1px solid #4a5568;
    border-radius: 4px;
    background-color: #fff;
    padding: 1rem;
    margin: 1rem 0;
}

footer p {
    font-size: 1.6rem;
}


@media only screen and (min-width: 600px) {
    .card-deck {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card-first {
        width: 100%;
    }

    .card {
        width: 47%;
    }
}

@media only screen and (min-width: 1200px) {
    .card-deck {
        display: flex;
        justify-content: space-between;
    }

    .card,
    .card-first {
        width: 31%;
    }
}